<div id="hdy-brackets-shell" class="hdy-brackets-shell bottom-panel">
    <div class="toolbar simple-toolbar-layout mainToolbar">
        <div class="shell-right-icons">
            <div class="btn-group">
                <button id="hdy-killprocess" title="Kill current process" class="btn small git-bash"><i class="octicon octicon-terminal"></i></button>
                <button title="kill" class="hide btn small git-settings"><i class="octicon octicon-settings"></i></button>
                <button title="report a but" class="hide btn small git-bug"><i class="octicon octicon-bug"></i></button>
            </div>
        </div>
        <div class="title">Shell</div><a href="#" class="close">&times;</a>
    </div>
    <div class="hdy-command-groups" class="resizable-content"></div>
</div>
